

body {
	font-family: Rubik,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
	color: white !important;
	background-color: #1D293F !important;
}

.cabecera {
	background: white;
    padding: 8px;
    color: #1D293F; 
}

h1.cabecera {
	font-weight: 700;
	font-size:32px;
	line-height: 75px;
}
h4.cabecera {
	font-size: 18px;
	font-weight: 700;
}

#myFarm_wrapper, #myBalance_wrapper, #v2Mining_wrapper {
	margin-top: 15px;
	margin-bottom: 20px;
	padding: 0px 5px;
}

#myFarm_wrapper {
	max-width: 1175px;
}

#myBalance_wrapper {
	max-width: 900px;
}

#v2Mining_wrapper {
	max-width: 550px;
}

#promix_wrapper {
	max-width: 650px;
}


.dataTables_filter  {
	color:white !important;
	padding: 4px 0px !important;
	font-size: 12px !important;
}

.dataTables_filter input  {
	background-color: white !important;
}

table.dataTable {
	font-size: 12px;
	color: #1D293F;
	width: 100% !important;
}

table.dataTable thead{
	background-color: #FFCC32;
}
table.dataTable thead th, table.dataTable thead td {
	padding: 10px 3px !important;
    border-bottom: 1px solid #1d293f !important;
	border-right: 1px solid #1d293f !important;
}


table.dataTable tbody tr.even {
    background-color: #f0e0af;
}

table.dataTable tbody tr.odd {
    background-color: white;
}

table#myFarm.dataTable tbody tr {
	border-bottom: 1px solid #ded1d1;
}

table.dataTable tbody th, table.dataTable tbody td  {
    padding: 0px 3px !important;
	border-right: 1px solid #1d293f;
    vertical-align: middle;
}

table.dataTable tfoot th, table.dataTable tfoot td{
    border-top: 1px solid #1d293f;
	padding: 10px 3px;
    text-align: left !important;
}

table.dataTable tfoot {
	background-color: #FFCC32;
}

.importe {
	text-align: right;
}

.quantity {
  float: right;
  text-align: right;
}

.importe.rojo {
	color:red;
}

.importe.verde {
	color:#269a26;
}


.pg-logo__img {
	height: 50px;
    float:right;
}

input.editable {
	width:35px;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.cabecera-superior th{
	text-align:center;
}

.cabecera-inferior th{
	text-align:left;
}

.text-center {
	text-align:center;
}

.marketChange {
	display: flex;
    flex-direction: column;
    justify-content: center;
	font-size: 10px;
	float: right;
    height: 35px;
}

.marketChange span {
	text-align: right;
	font-weight: bold;
	text-transform: uppercase;
}



table#myFarm th.name {
    width: 100px !important;
}

table#myFarm th.category {
    width: 75px !important;
}

table#myFarm th.price {
    width: 90px !important;
}

table#myFarm th.amount {
    width: 50px !important;
}

table#myFarm th.volume {
    width: 70px !important;
}

table#myFarm th.daily_production {
    width: 110px !important;
}

table#myFarm th.daily_consumption {
    width: 145px !important;
}

table#myFarm th.grazing_fee {
    width: 35px !important;
}

table#myFarm th.grazing_fee {
    width: 35px !important;
}

table#myFarm th.grazing_active {
    width: 20px !important;
}

table#myFarm th.profitability {
    width: 70px !important;
}

table#myFarm th.profitability_price {
    width: 70px !important;
}

table#myFarm th.quant {
    width: 45px !important;
}

table#myFarm th.totalProfitability {
    width: 60px !important;
}

table#v2Mining th.recipe {
	width: 200px !important;
}

.supply-asset-data {
	width:50%;
	display:inline-block;
}

.tabla-minado th {
	background-color: #ffcc32;
}

.tabla-minado {
	color: #1D293F;
}

.tabla-minado tr td {
    text-align: right;
}

.valor{
	color: #8BF99C;
}	

.contenedor-cbx-supply {
	margin: -10px 0 10px;	
}

.fila-desplegada {
	padding-left: 40px;
	background-color: #1D293F;
	color:white;
	opacity:0.8;
}

.pointer {
	cursor:pointer;
	cursor:hand;
}



.army-container {
	color: #1D293F;
	position: absolute;
    right: 0;
    height: 100px;
	display:flex;	
}

.army-container  .logo {
	height: 100px;
	position: absolute;
    right: 200px;
	margin-top:5px;
}

.army-container .text {
	width: 180px;
    position: absolute;
    right: 0px;
	padding-top: 20px;
}

.cabecera-container {
	background-color:white;
	padding-right:0px;
}

.ingredient-element {
	width:20% !important;
}

.ingredient-element-v2 {
	width:25% !important;
	display: block;
    text-align: center;
}

.ingredient-element-v2 span{
	display: block;
    text-align: center;
	font-size: 10px;
}

.balance-extractos-contenedor {
	width: 400px !important;
    height: 200px;	
}

.nav li {
	padding: 2px;
    border: 1px solid black;
    background-color: #FFCC32;
    border-radius: 5px 5px 0px 0px;
    min-width: 55px;
    text-align: center;
	border-left: none;
}

.nav li a {
	color: #1D293F; 
	text-decoration: none;
}

.nav li a.active {
	font-weight: bold
}
